<!DOCTYPE html>
<html>
<head>
    <title>Your Page Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'points/add points.css' %}" />
</head>
<body>
    <h1 class="welcome">add points</h1>
   
    
    </div>
    <div class="content">
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="barcode" class="barcode-input" placeholder="Enter barcode"><br>
                <button type="submit" class="add-points-button">Add Points</button>
            </form>
        </div>
    </div>
  
</body>
</html>
