{% extends 'base_generic.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Admin Home</title>
{% load static %}
    <link rel="stylesheet" href="{% static 'points/b.css' %}" />
</head>
<body>
  <h1 class="welcome">Welcome to <br> points-camp</h1>
  <div class="container">
    <h2 class="title">Please Login</h2>
    <form method="POST">
      {% csrf_token %}
      <label for="username" class="form-label">Username:</label><br>
      <input type="text" id="username" name="username" class="form-input"><br>
      <label for="password" class="form-label">Password:</label><br>
      <input type="password" id="password" name="password" class="form-input"><br>
      <input type="submit" value="Submit" class="button">
    </form>
  </div>
  <p>
    <a href="{% url 'register' %}"></a>
  </p>
</body>
{% endblock %}
